attrs==24.3.0
cachetools==5.5.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==44.0.0
durationpy==0.9
flaky==3.8.1
forcediphttpsadapter==1.1.0
google-auth==2.37.0
gprof2dot==2024.6.6
grpcio==1.68.1
grpcio-tools==1.68.1
idna==3.10
iniconfig==2.0.0
jinja2==3.1.4
kubernetes==31.0.0
markupsafe==3.0.2
mock==5.1.0
more-itertools==10.5.0
oauthlib==3.2.2
packaging==24.2
playwright==1.49.1
pluggy==1.5.0
protobuf==5.29.1
py==1.11.0
pyasn1==0.6.1
pyasn1-modules==0.4.1
pycparser==2.22
pyopenssl==24.3.0
pyparsing==3.2.0
pytest==8.3.4
pytest-html==4.1.1
pytest-metadata==3.1.1
python-dateutil==2.9.0.post0
pyyaml==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
six==1.17.0
urllib3==2.2.3
websocket-client==1.8.0
