common-secrets/*.yaml
custom-resources/api-key/cafe-secret.yaml
custom-resources/backup-directive/transport-server/app-tls-secret.yaml
custom-resources/backup-directive/virtual-server/cafe-secret.yaml
custom-resources/basic-auth/cafe-passwd.yaml
custom-resources/basic-auth/cafe-secret.yaml
custom-resources/basic-configuration/cafe-secret.yaml
custom-resources/cache-policy/cafe-secret.yaml
custom-resources/cross-namespace-configuration/cafe-secret.yaml
custom-resources/custom-ip-listeners/virtualserver/cafe-secret.yaml
custom-resources/custom-listeners/cafe-secret.yaml
custom-resources/egress-mtls/egress-mtls-secret.yaml
custom-resources/egress-mtls/egress-trusted-ca-secret.yaml
custom-resources/egress-mtls/secure-app-tls-secret.yaml
custom-resources/external-dns/cafe-secret.yaml
custom-resources/externalname-services/transport-server/app-tls-secret.yaml
custom-resources/foreign-namespace-upstreams/cafe-secret.yaml
custom-resources/grpc-upstreams/greeter-secret.yaml
custom-resources/ingress-mtls/tls-secret.yaml
custom-resources/jwks/tls-secret.yaml
custom-resources/jwt/jwk-secret.yaml
custom-resources/oidc-fclo/tls-secret.yaml
custom-resources/oidc/tls-secret.yaml
custom-resources/rate-limit-tiered-jwt-claim/cafe-secret.yaml
custom-resources/service-insight/service-insight-secret.yaml
custom-resources/tls-passthrough/app-tls-secret.yaml
custom-resources/transport-server-sni/cafe-secret.yaml
custom-resources/transport-server-sni/mongo-secret.yaml
ingress-resources/app-protect-dos/webapp-secret.yaml
ingress-resources/app-protect-waf/cafe-secret.yaml
ingress-resources/basic-auth/cafe-passwd.yaml
ingress-resources/basic-auth/cafe-secret.yaml
ingress-resources/complete-example/cafe-secret.yaml
ingress-resources/mergeable-ingress-types/cafe-secret.yaml
ingress-resources/proxy-set-headers/mergeable-ingress/cafe-secret.yaml
ingress-resources/proxy-set-headers/standard-ingress/cafe-secret.yaml
ingress-resources/upstream-vhost/cafe-secret.yaml
ingress-resources/rate-limit/cafe-secret.yaml
ingress-resources/security-monitoring/cafe-secret.yaml
shared-examples/default-server-secret/default-server-secret.yaml
