name: Publish Helm Chart

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Release Helm chart from branch"
        required: true
        type: string
      ic_version:
        description: "Ingress Controller version"
        required: true
        type: string
      chart_version:
        description: "Helm Chart version"
        required: true
        type: string
      nginx_helm_repo:
        description: "Publish to the NGINX Helm repo"
        required: true
        type: boolean
      runner:
        description: "The runner to use for the workflow"
        default: "ubuntu-24.04"
        type: string
  workflow_call:
    inputs:
      branch:
        description: "Release Helm chart from branch"
        required: true
        type: string
      ic_version:
        description: "Ingress Controller version"
        required: true
        type: string
      chart_version:
        description: "Helm Chart version"
        required: true
        type: string
      nginx_helm_repo:
        description: "Publish to the NGINX Helm repo"
        required: true
        type: boolean
      runner:
        description: "The runner to use for the workflow"
        default: "ubuntu-24.04"
        type: string

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.ref_name }}-publish-helm
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  publish-helm:
    name: Package and Publish Helm Chart
    runs-on: ${{ inputs.runner }}
    permissions:
      contents: write # for pushing to Helm Charts repository
      packages: write # for helm to push to GHCR
    steps:
      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: refs/heads/${{ inputs.branch }}
          path: kic

      - name: Login to GitHub Container Registry
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: DockerHub Login
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Setup Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: 'v3.18.6'

      - name: Package
        id: package
        run: |
          helm_versions="--app-version ${{ inputs.ic_version }} --version ${{ inputs.chart_version }}"
          output=$(helm package ${helm_versions} kic/charts/nginx-ingress)
          echo "path=$(basename -- $(echo $output | cut -d: -f2))" >> $GITHUB_OUTPUT

      - name: Push to OCI registries
        run: |
          helm push ${{ steps.package.outputs.path }} oci://ghcr.io/nginx/charts
          helm push ${{ steps.package.outputs.path }} oci://registry-1.docker.io/nginxcharts

      - name: Checkout Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: nginxinc/helm-charts
          fetch-depth: 1
          token: ${{ secrets.NGINX_PAT }}
          path: helm-charts
        if: ${{ inputs.nginx_helm_repo }}

      - name: Push Helm Chart to Helm Charts Repository
        run: |
          mv ${{ steps.package.outputs.path }} ${{ github.workspace }}/helm-charts/stable/
          cd ${{ github.workspace }}/helm-charts
          helm repo index stable --url https://helm.nginx.com/stable
          git add -A
          git -c user.name='NGINX Kubernetes Team' -c user.email='kubernetes@nginx.com' \
          commit -m "NGINX Ingress Controller - Release ${{ inputs.chart_version }}"
          git push -u origin master
        if: ${{ inputs.nginx_helm_repo }}
