name: Publish Helm Chart

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Release Helm chart from branch"
        required: true
        type: string
      ic_version:
        description: "Ingress Controller version"
        required: true
        type: string
      chart_version:
        description: "Helm Chart version"
        required: true
        type: string
      nginx_helm_repo:
        description: "Publish to the NGINX Helm repo"
        required: true
        type: boolean
      runner:
        description: "The runner to use for the workflow"
        default: "ubuntu-24.04"
        type: string
  workflow_call:
    inputs:
      branch:
        description: "Release Helm chart from branch"
        required: true
        type: string
      ic_version:
        description: "Ingress Controller version"
        required: true
        type: string
      chart_version:
        description: "Helm Chart version"
        required: true
        type: string
      nginx_helm_repo:
        description: "Publish to the NGINX Helm repo"
        required: true
        type: boolean
      runner:
        description: "The runner to use for the workflow"
        default: "ubuntu-24.04"
        type: string

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.ref_name }}-publish-helm
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  publish-helm:
    name: Package and Publish Helm Chart
    runs-on: ${{ inputs.runner }}
    permissions:
      contents: write # for pushing to Helm Charts repository
      packages: write # for helm to push to GHCR
      id-token: write # for OIDC login
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: refs/heads/${{ inputs.branch }}
          path: kic

      - name: Azure login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_COMMON_VAULT_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_COMMON_VAULT_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_COMMON_VAULT_SUBSCRIPTION_ID }}

      - name: Setup secrets
        id: secrets
        run: |
          echo "Setting secrets for job"
          DOCKER_USERNAME=$(az keyvault secret show --name docker-username --vault-name ${{ secrets.COMMON_KEYVAULT_NAME }} --query value -o tsv)
          echo "::add-mask::$DOCKER_USERNAME"
          echo "DOCKER_USERNAME=$DOCKER_USERNAME" >> $GITHUB_OUTPUT
          DOCKER_PASSWORD=$(az keyvault secret show --name docker-password --vault-name ${{ secrets.COMMON_KEYVAULT_NAME }} --query value -o tsv)
          echo "::add-mask::$DOCKER_PASSWORD"
          echo "DOCKER_PASSWORD=$DOCKER_PASSWORD" >> $GITHUB_OUTPUT
          NGINX_PAT=$(az keyvault secret show --name nginx-bot-pat --vault-name ${{ secrets.COMMON_KEYVAULT_NAME }} --query value -o tsv)
          echo "::add-mask::$NGINX_PAT"
          echo "NGINX_PAT=$NGINX_PAT" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: DockerHub Login
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ steps.secrets.outputs.DOCKER_USERNAME }}
          password: ${{ steps.secrets.outputs.DOCKER_PASSWORD }}

      - name: Setup Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: 'v3.18.6'

      - name: Package
        id: package
        run: |
          helm_versions="--app-version ${{ inputs.ic_version }} --version ${{ inputs.chart_version }}"
          output=$(helm package ${helm_versions} kic/charts/nginx-ingress)
          echo "path=$(basename -- $(echo $output | cut -d: -f2))" >> $GITHUB_OUTPUT

      - name: Push to OCI registries
        run: |
          helm push ${{ steps.package.outputs.path }} oci://ghcr.io/nginx/charts
          helm push ${{ steps.package.outputs.path }} oci://registry-1.docker.io/nginxcharts

      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: nginxinc/helm-charts
          fetch-depth: 1
          token: ${{ steps.secrets.outputs.NGINX_PAT }}
          path: helm-charts
        if: ${{ inputs.nginx_helm_repo }}

      - name: Push Helm Chart to Helm Charts Repository
        run: |
          mv ${{ steps.package.outputs.path }} ${{ github.workspace }}/helm-charts/stable/
          cd ${{ github.workspace }}/helm-charts
          helm repo index stable --url https://helm.nginx.com/stable
          git add -A
          git -c user.name='NGINX Kubernetes Team' -c user.email='kubernetes@nginx.com' \
          commit -m "NGINX Ingress Controller - Release ${{ inputs.chart_version }}"
          git push -u origin master
        if: ${{ inputs.nginx_helm_repo }}
