name: "Bump the IC & Helm chart version"

on:
  workflow_dispatch:
    inputs:
      source_branch:
        required: true
        type: string
        default: "main"
      ic_version:
        required: true
        type: string
        default: "0.0.0"
      helm_chart_version:
        required: true
        type: string
        default: "0.0.0"

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  version-bump:
    permissions:
      contents: write
      pull-requests: write
      id-token: write
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ inputs.source_branch }}

      - name: Replace Versions
        run: |
          yq -i e '.version = env(CHART_VERSION) | .appVersion = env(IC_VERSION)' charts/nginx-ingress/Chart.yaml
          cat charts/nginx-ingress/Chart.yaml
          cat > .github/data/version.txt << EOF
          IC_VERSION=${IC_VERSION}
          HELM_CHART_VERSION=${CHART_VERSION}
          EOF
          cat .github/data/version.txt
        env:
          IC_VERSION: ${{ inputs.ic_version }}
          CHART_VERSION: ${{ inputs.helm_chart_version }}

      - name: Update Snapshots
        run: |
          make test-update-snaps

      - name: Azure login
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2.3.0
        with:
          client-id: ${{ secrets.AZURE_COMMON_VAULT_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_COMMON_VAULT_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_COMMON_VAULT_SUBSCRIPTION_ID }}

      - name: Setup secrets
        id: secrets
        run: |
          echo "Setting secrets for job"
          NGINX_PAT=$(az keyvault secret show --name nginx-bot-pat --vault-name ${{ secrets.COMMON_KEYVAULT_NAME }} --query value -o tsv)
          echo "::add-mask::$NGINX_PAT"
          echo "NGINX_PAT=$NGINX_PAT" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ steps.secrets.outputs.NGINX_PAT }}
          commit-message: Version Bump for ${{ github.event.inputs.ic_version }}
          title: Version Bump for ${{ github.event.inputs.ic_version }}
          branch: chore/version-bump-${{ github.event.inputs.ic_version }}
          labels: chore
          body: |
            This automated PR updates the NIC & Helm chart versions for the upcoming ${{ github.event.inputs.ic_version }} release.
